.button {
  background: #91c945;
  border-radius: 2px;
  border: none;
  box-shadow: 0 -2px rgba(0, 0, 0, 0.15) inset;
  color: white;
  font-family: inherit;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 2px;
  padding: 1em 2em;
  text-transform: uppercase;
}
