$deck-offset: 25px;

.card-deck {
  position: relative;
}

.card-deck__item {
  position: absolute;

  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      top: 0;
      left: $deck-offset * ($i - 1);
    }

    .card-deck--opponent &:nth-child(#{$i}) {
      left: -$deck-offset * ($i - 1);
    }
  }
}
