.card {
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px #cdcdcd;
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 250px;

  &.card--spacer {
    background: transparent;
    box-shadow: none;
  }
}

.card__face {
  display: flex;
  height: 100%;
  justify-content: center;

  .card--opponent > & {
    transform: rotate(180deg);
    transform-origin: center;
  }

  .card--flipped > & {
    background: #4d4d4d;
  }
}

.card__logo {
  align-self: center;
  flex: 1;
  max-width: 40%;
}

.card__rank {
  display: inline-block;
  font-size: 25px;
  line-height: 1;
  padding: 15px;
  position: absolute;

  &:after {
    display: block;
    font-size: 1.4em;
  }

  .spades &:after {
    content: '\2660';
  }

  .hearts &:after {
    color: #FC3D49;
    content: '\2665';
  }

  .diamonds &:after {
    color: #FC3D49;
    content: '\2666';
  }

  .clubs &:after {
    content: '\2663';
  }

  &:first-of-type {
    left: 0;
    top: 0;
  }

  &:nth-of-type(2) {
    bottom: 0;
    right: 0;
    transform: rotate(-180deg);
    transform-origin: center;
  }
}
