$deck-offset: 5px;

.card-deck {
  position: relative;
}

.card-deck__item {
  position: absolute;

  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      top: -$deck-offset * ($i - 1);
      left: $deck-offset * ($i - 1);
    }
  }
}
