@import 'variables';

.hud-panel {
  background: white;
  border-radius: 2px;
  box-shadow: $shadow;
  min-width: 225px;
  overflow: hidden;
}

.hud-panel__title {
  background: $primary-color;
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

.hud-panel__body {
  padding: 1em;
}
